div#Menu {
	width: 100px;
	top: 0px;
	position: absolute;
	z-index: 1000;
	background-color: gray;
}

div#Properties {
	width: 400px;
	height: 400px;
	left: 80px;
	top: 0px;
	position: absolute;
	background-color: #aaaaaa;
	overflow: scroll;
	display: none;
}

button#btnMove,
button#btnSplit,
button#btnTiles,
select#ddStraten {
	display: none;
}

div#views {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	overflow-y: scroll;
	background-color: gray;
	z-index: 1000;
}

li {
	cursor: hand;
}

li:hover {
	background-color: #cccccc;
}